.contacto h2 {
	font-weight: 700;
	color: var(--third-color);
	font-size: 1.75rem;
}

.contacto .mapa_datos {
	order: 1;
}

.contacto .form_contacto {
	margin-top: 30px;
}

.contacto form {
	border-radius: 10px;
	border: solid #d0dddd 1px;
	padding: 30px 20px;
}

.contacto .form_contacto label {
	color: #a6bcbc;
	font-size: 0.95rem;
}

.contacto .content_btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contacto .datos {
	margin-bottom: 15px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.contacto .redes {
	margin-bottom: 30px;
}

.contacto .redes a {
	display: inline-block;
	margin-right: 10px;
}

.contacto .redes a:last-child {
	margin-right: 0;
}

.contacto .datos .direccion {
	font-weight: 700;
}

.contacto .redes a:hover,
.contacto .redes img:hover {
	opacity: 0.6;
}

.contacto .datos a:hover {
	opacity: 0.6;
}

.contacto .datos a {
	color: var(--third-color);
}


/* MEDIA QUERIS */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

	.contacto .mapa_datos {
		order: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}

	.contacto .form_contacto {
		margin: 0;
	}

	.contacto h2 {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.contacto #form_contacto {
		border: solid 1px #a6bcbc!important;
		border-radius: 5px!important;
		padding: 15px;
		padding-top: 30px;
	}

	.contacto #sending_form.active {
		min-height: auto!important;
		height: auto!important;
	}

	.contacto .col-md-6 {
		margin-bottom: 60px;
	}

}

@media (min-width: 992px) {

	.contacto h2 {
		font-size: 2.5rem;
	}

	.contacto #form_contacto {
		padding: 30px;
		padding-top: 50px;
	}

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}