/* Header */
header {
	z-index: 5;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	padding: 20px;
	transition: 0.5s;
}

header .col-md-12 {
	display: flex;
	align-items: center;
}

header.hide {
	transform: translateY(-76px);
}

header.hide .navigation_container nav #sub_navigation {
	transform: translateY(-100%);
}

header.hide #menu.active {
	height: calc(100vh + 76px);
}

header.background {
	/*background: rgb(0, 43, 100, 0.9);*/
	border-bottom: solid 1px white;
}
/* Header end */

/* Nav */
.navigation_container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	transform: scale(0);
	transition: 0.5s;
}

.navigation_container.active {
	transform: scale(1);
}

.navigation_container.active li {
	margin-bottom: 10px;
}

.navigation_container.active li a,
.navigation_container.active li button {
	color: white;
}

.navigation_container.active li .btn-primary {
	width: 80%;
	margin: auto;
	background: var(--secondary-color);
	border-color: var(--secondary-color);
	color: var(--primary-color);
}

.navigation_container.active li .btn-primary:hover {
	color: var(--primary-color)!important;
	background: white!important;
}

.navigation_container nav {
	z-index: 1;
	width: 100%;
	display: flex;
}

.navigation_container nav #navigation {
	display: block;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
}

.navigation_container nav #navigation a{
	font-weight: 700;
}

.navigation_container nav #navigation a:hover,
.navigation_container nav #navigation button:hover {
	color: var(--secondary-color);
}

.navigation_container nav #navigation.translate {
	transform: translateX(-100%);
}

.navigation_container nav #sub_navigation {
	opacity: 0;
	display: block;
	min-width: 100%;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.5s;
	z-index: -1;
}

.navigation_container nav #sub_navigation.translate {
	opacity: 1;
}

.navigation_container nav #sub_navigation .images_desktop {
	display: none;
}

.navigation_container nav #sub_navigation li {
	padding: 5px 0;
}

.navigation_container nav #sub_navigation li:nth-child(1) a {
	color: white;
	font-size: 1.5rem;
}

.navigation_container nav #sub_navigation a {
	/*font-size: 1.5rem;*/
}

.navigation_container nav #navigation.translate, .navigation_container nav #sub_navigation.translate {
    transform: translateX(-100%);
}

.navigation_container ul { 
	position: relative;
	padding: 0;
	margin: 0;
}

.navigation_container ul li {
	position: relative;
	list-style: none;
	text-align: center;
	display: block;
}

.navigation_container ul li #btn_products::after {
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f061";
  display: inline-block;
  margin-left: 10px;
  font-size: 1.25rem;
}

.navigation_container ul li a,
.navigation_container ul li button {
	position: relative;
	text-decoration: none;
	color: var(--text-nav);
	font-weight: 700!important;
	font-size: 1.75rem;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out .3s;
}

.navigation_container ul li button {
	padding: 0;
	background: transparent;
	border: none;
	margin: auto;
}

.navigation_container ul li a:hover {
	color: var(--secondary-color);
}

header .rrss_desktop {
	display: none;
}

header .rrss a {
	color: white!important;
	margin-top: 30px;
	font-size: 1rem!important;
	transition: all ease-in-out .2s;
}

header .rrss a:hover {
	opacity: 0.6;
}

header .rrss a i {
	margin-left: 8px;
	font-size: 1.25rem;
}

#toggleIcon {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#toggleIcon i:hover {
	opacity: 0.6;
}

#toggleIcon.active i {
	color: white;
}

#toggleIcon i {
	color: white;
	font-size: 2rem;
	transition: all ease-in-out .2s;
}

@media (min-width:1024px) {
	header {
		justify-content: space-between;
	}

	#toggleIcon {
		display: none;
	}

	.navigation_container {
		position: relative;
		transform: scale(1);
		height: auto;
		background: transparent;
	}

	.navigation_container nav {
		width: auto;
		min-width: auto;
		display: flex;
		justify-content: flex-end;
	}

	.navigation_container nav #navigation {
		width: auto;
		min-width: auto;
		flex-direction: row;
		align-items: center;
	}

	.navigation_container nav #sub_navigation {
		position: absolute;
		top: -638px;
		left: -80px;
		display: flex;
		flex-direction: row;
		opacity: 0;
		transition: all ease-in-out .2s;
	}

	.navigation_container nav #sub_navigation.open {
		transform: translateY(700px);
		opacity: 1;
	}

	.navigation_container nav #sub_navigation .images_desktop {
		display: inline-block;
		width: 50%;
		background-color: rgb(245, 245, 245, 0.9);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-right: 30px;
	}

	@keyframes animateImgSubmenu {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

	.navigation_container nav #sub_navigation.open .img_menu {
		opacity: 0;		
	}

	.navigation_container nav #sub_navigation .img_menu.show_image {
		opacity: 100;
		animation: animateImgSubmenu 1s forwards;
	}

	.navigation_container nav #sub_navigation .submenu_desktop {
		font-size: 2.75rem;
		background-color: var(--third-color);
		border: 1px solid white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 20px;
	}

	.navigation_container nav #sub_navigation .submenu_desktop a {
		color: white;
	}

	.navigation_container nav #sub_navigation .submenu_desktop a:hover {
		color: var(--secondary-color);
	}

	.navigation_container nav #sub_navigation .submenu_desktop li:first-child {
		display: none;
	}

	.navigation_container nav #sub_navigation li {
		padding: 7px 0;
	}

	.navigation_container ul li {
		padding: 0 15px;
	}

	.navigation_container ul li #btn_products::after {
    content: "\f078";
    margin-left: 5px;
    font-size: 0.65rem;
	}

	.navigation_container ul li a,
	.navigation_container ul li button {
		color: white;
		font-size: 0.85rem;
		font-weight: 300;
	}

	.navigation_container ul li:last-child a {
		/*font-size: 1.25rem;*/
	}

	header .rrss {
		display: none!important;
	}

	header .rrss_desktop {
		display: inline-block;
		position: absolute;
		right: 0;
		top: -20px;
	}

	header .rrss_desktop a {
		color: white;
		transition: all ease-in-out .3s;
	}

	header .rrss_desktop a:hover {
		opacity: 0.6;
	}

	.images_desktop img {
		transition: all ease-in-out .3s;
	}

}

@media (min-width:1200px) {
	.navigation_container nav #sub_navigation {
	  top: -650px;
	  left: -110px;
	}
}


/* Nav end 